html,
body {
	overflow-x: hidden;
	width: 100vw;
}

body {
	font-family: $default-font;
	font-size: $default-font-size;
	background-color: $light-gray;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
