.primary-header {
	background-color: $color-white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.nav-container {
		background-color: #fff;

		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	.primary-logo {
		margin: 2ch;
		flex-shrink: 0;

		.logo-image {
			flex-shrink: 0;
		}
	}
}

.navigation {
	// background-color: #fff;

	.primary-navigation {
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;

		li {
			.nav-link {
				display: block;
				text-decoration: none;
				flex: 1 1 70%;
			}
		}
	}
}

.primary-information {
	text-align: center;
	padding-bottom: 8rem;
	max-width: 100vw;
	.background-images {
		height: 50vh;
		background-image: url(../images/image-mockups.png), url(../images/bg-intro-mobile.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center -10em, center -2em;
	}

	h1 {
		line-height: 1.2;
		font-weight: $regular;
		color: $dark-blue;
	}

	p {
		margin-top: 1rem;
		padding: 0 1.5rem;
		font-size: 14px;
		color: $dark-gray;
	}

	.btn {
		text-decoration: none;
		color: $color-white;
		font-size: 16px;
		margin-top: 2rem;
		padding: 10px 30px;
		display: inline-block;
		border-radius: 30px;
		background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
	}
}

.mobile-nav-toggle {
	display: none;
}

@media screen and (max-width: 50em) {
	.primary-navigation {
		position: absolute;
		inset: 5.5rem 3rem;
		border-radius: 5px;
		background-color: $color-white;
		height: 30vh;

		flex-direction: column;
		justify-content: center;
		align-items: center;

		transform: translateX(150%);
		transition: transform 500ms ease-in-out;

		&[data-visible='true'] {
			transform: translateX(0%);
		}

		li {
			margin-top: 0.5rem;
			.nav-link {
				display: inline-block;
				color: $dark-blue;
			}
		}
		.hidden {
			display: none;
		}
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 1000;
		top: 1.5rem;
		right: 2rem;

		background-color: transparent;
		background-image: url(../images/icon-hamburger.svg);
		background-repeat: no-repeat;
		background-size: 2rem;
		border: 0;

		width: 1.5rem;
		aspect-ratio: 1;

		&[aria-expanded='true'] {
			background-image: url(../images/icon-close.svg);
			background-size: 2rem;
			width: 2.1rem;
		}
	}
}
