//CSS Variables.
//colors
$color-white: hsl(0, 0%, 100%);
$soft-gray: hsl(0, 0%, 98%);
$light-gray: hsl(220, 16%, 96%);
$dark-gray: hsl(233, 8%, 62%);

//Primary Colors:
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

//typography
$default-font: 'Public Sans', sans-serif;
$default-font-size: 18px;

//font-weights
$regular: 300;
$medium: 400;
$bold: 700;
